/vendor/
/web/application/config/doctrine/
/web/application/config/generated_overrides/
/web/application/files/
/web/application/languages/
/web/concrete/
/web/packages/
/web/.htaccess
/web/sitemap.xml
/.env
/.php_cs.cache*
